$black-bg: #000;
$white: #fff;
$primary: #F18724;
$surface: #F2EFE7;
$font-family: 'Noto Sans TC', sans-serif;
$fz-xxl: 80px;
$fz-xl: 48px;
$fz-l: 32px;
$fz-m: 20px;
$fz-s: 16px;
$fz-xs: 14px;
$fz-xxs: 12px;
$fw-700: 700;
$fw-900: 900;
$border-radius-16: 16px;
$border-80: 1px solid rgba(255,255,255,.2);
$border-20: 1px solid rgba(255,255,255,.8);